// ~/.config/zellij/config.kdl
theme "catppuccin-mocha"

{{ $config_home := (env "XDG_CONFIG_HOME") | default (joinPath .chezmoi.homeDir ".config") }}
{{ $plugin := joinPath $config_home "zellij/plugins/zj-quit.wasm" }}
{{ $st := stat $plugin }}

plugins {
  tab-bar path="tab-bar"
  status-bar path="status-bar"
  strider path="strider"
  compact-bar path="compact-bar"

{{ if and (hasKey $st "type") (eq (index $st "type") "file") }}
  zj-quit location="file:{{ $plugin }}" {
    confirm_key "Enter"
    cancel_key "Esc"
  }
{{ end }}
}

scrollback 10000

on_force_close "quit"

default_shell "bash"

mouse_mode true

env {
  SHELL "/bin/bash"
}

shell "/bin/bash" "--login" "-i"

keybinds {
  shared_except "locked" {
{{ if and (hasKey $st "type") (eq (index $st "type") "file") }}
    bind "Ctrl q" {
      LaunchOrFocusPlugin "zj-quit" {
        floating true
      }
    }
{{ end }}
  }
}
